<div class='col-md-12'>
	<div id='listTitle' class='col-md-12'>
		<span class='title'>{{media.name}}</span><span class='type'> | {{media.type.typename}}</span>
	</div>
	<form class='col-md-12 nopadding'>
		<input placeholder='Search..' class='searchBox' ng-model='searchQuery' typeahead="result for result in wordSearch($viewValue)"  type='text' name='searchQuery' typeahead-loading="loadingLocations" typeahead-on-select='storeWord($item, $model, $label)'>
		<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
	</form>
	<table>
		<tr class="col-md-12 nopadding" ng-repeat="(id, word) in media.words">
			<td class="col-md-4">
				<ul class='nopadding'>
					<li class='hiragana'>{{word.hiragana}}</li>
					<li class='kanji' ng-repeat='w in word.word'>{{w}}</li>
				</ul>
				
			</td> 
			<td class="col-md-8 nopadding"><ul>
					<li ng-repeat="def in word.defintions" class='wordDefinition'>
						{{def}}
					</li>
				</ul></td>
			<td><button ng-click="$parent.deleteWord(id)">Delete</button></td>
		</tr>

	</table>
	
	
	<form>
		New List
		<input ng-model="newListName">
		<button ng-click="newList()">Submit</button>
	</form>
</div>
