<h1>Word Lists</h1>
<div id="lists">
<table id='listTable' class="col-md-12">
	<th id='typeHeader'>Type</th>
	<th>Name</th>
	<th>User</th>
	<th>Options</th>

	<tr ng-repeat="item in items track by $index">
		<td class='typeLogo'><img src={{item.type.logoURL}} alt='{{item.type.typename}}' width='22'></td>
	  <td class='list col-md-6'><a href="#/media/{{item.id}}">{{item.name}}</a></td>
	  <td class='col-md-3'>User</td>	
	  <td class='buttons'><button class='btn btn-default' ng-click="deleteMedia(item.id)">Delete..</button><a class='btn btn-default' target="_self" href="/wordlog/index.php/media/anki/id/{{item.id}}" download='{{item.name}}.csv'>Export..</a></td>
	</tr>
</table>

<form>
    New Media
    <input ng-model="newMediaName">
    <select ng-model="newMediaType">
		<option ng-repeat='type in mediaTypes | orderBy:"typename"' value='{{type.id}}'>{{type.typename}}</option>
	</select>
    <button ng-click="newMedia()">Submit</button>
</form>
</div>
