	<form class='col-md-12 nopadding'>
		<input placeholder='Search..' class='searchBox' ng-model='searchQuery' typeahead="result for result in wordSearch($viewValue)"  type='text' name='searchQuery' typeahead-loading="loadingLocations" typeahead-on-select='storeWord($item, $model, $label)'>
		<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
	</form>	
	
	<table>
		<tr class="col-md-12 nopadding" ng-repeat="(id, word) in storedWords">
			<td class="col-md-4">
				<ul class='nopadding'>
					<li class='hiragana'>{{word.hiragana}}</li>
					<li class='kanji' ng-repeat='w in word.word'>{{w}}</li>
				</ul>
				
			</td> 
			<td class="col-md-8 nopadding"><ul>
					<li ng-repeat="def in word.defintions" class='wordDefinition'>
						{{def}}
					</li>
				</ul></td>
			<td><button ng-click="$parent.deleteWord(id)">Delete</button></td>
		</tr>

	</table>

<table id='listTable' class="col-md-12">
	<th>Name</th>
	<th>User</th>
	<th>Options</th>

	<tr ng-repeat="list in lists">
	  <td class='list col-md-6'><a href="#/media/{{list.mediaid}}/list/{{list.listid}}">{{list.name}}</a></td>
	  <td class='col-md-3'>User</td>	
	  <td class='buttons'><button class='btn btn-default' ng-click="deleteMedia(item.id)">Delete..</button><a class='btn btn-default' target="_self" href="/wordlog/index.php/media/anki/id/{{item.id}}" download='{{item.name}}.csv'>Export..</a></td>
	</tr>
</table>

<form>
    New List
    <input ng-model="newListName">
    <button ng-click="newList()">Submit</button>
</form>
</div>
