.toggleGroup {
	text-align: center;
	position: relative;
}

h1#title {
	font-size: 60pt;
	font-family: Candara;
	font-weight: bold;
}

div#menu {
	position: absolute;
	bottom: 0;
	right: 0;
}

#menu a {
	color: #FFB310;
	font-size: 13pt;
}

#lists th{
	background: #ff0000;
	text-align: left;
	height: 35px;
	color: white;
	padding-left: 10px;
}

#lists td.typeLogo img {
	margin-left: 15px;
}

.toggleError {
	border: 1px solid #A94442;
	border-radius: 4px;
}

.toggleButton {
    margin:0px auto;
    display: inline-block;
}

.toggleButton.double label {
    float:left;
    width:150px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
}

.toggleButton.single label {
    float:left;
    width:310px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
}

.small-hyperlink label {
	padding-bottom: 5px;
	margin:0px auto;
    float:left;
    width:100%;
    color: blue;
    text-decoration: underline;
}

.small-hyperlink label input[type="radio"], .small-hyperlink label input[type="checkbox"] {
    display: none;
}

.toggleButton label span {
    text-align:center;
    padding:13px 0px;
    display:block;
	background-color: lightgray;
}

.toggleButton label input {
    position:absolute;
    top:-20px;
}

.toggleButton input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}

.toggleButton label input[type="radio"], .toggleButton label input[type="checkbox"] {
    display: none;
}

.nopadding {
	padding: 0 !IMPORTANT;
}

.question {
	background-color: rgb(243, 243, 243);
}

#lists table tr {
	color: black;
}

#listTable tr:nth-of-type(odd){
	background: #e5e5e5;
}

#listTable tr:nth-of-type(even){
	background: #f1f1f1;
}

#lists table tr .list a {
	color: black;
	font-weight: bold;
} 

form input, label {
	display: block;
}

.kanji {
	list-style-type: none;
}

#listTitle {
	font-size: 30pt;
}

#listTitle .type{
	color: #ededed;
}

.searchBox {
  height: 50px;
  border-radius: 10px;
  border: 2px #e5e5e5 solid;
  width: 300px;
  font-size: 20pt;
}

li.kanji, li.hiragana {
	text-align: left;
	list-style-type: none;
}

li.kanji{
	font-size: 30pt;
}

li.hiragana {
	font-size: 15pt;
}

#listTitle .title{
	font-weight: bold;
}

.wordDefinition {
	font-size: 15pt;
	list-style-type: decimal;
}

.nopadding {
	padding: 0 !IMPORTANT;
}